{
  "openapi"          : "3.0.1",
  "info"             : {
    "title"  : "https://api.partner.microsoft.com/v1.0/ingestion",
    "version": "1.0"
  },
  "servers"          : [
    {
      "url": "https://api.partner.microsoft.com/v1.0/ingestion"
    }
  ],
  "paths"            : {
    "/products"                                                                           : {
      "get" : {
        "operationId": "list",
        "tags"       : [
          "Product"
        ],
        "summary"    : "Returns collection of products.",
        "description": "Sample requests:\r\n\r\n    GET /products?$filter=ResourceType eq 'Application' or ResourceType eq 'SoftwareAsAService' \r\n    GET /products?$filter=ExternalIDs/Any(i:i/Type eq 'StoreID' and i/Value eq '{storeID}')\r\n    GET /products?$filter=ExternalIDs/Any(i:i/Type eq 'ExternalAzureProductID' and i/Value eq '{externalAzureProductID}')",
        "parameters" : [
          {
            "name"       : "$filter",
            "in"         : "query",
            "description": "Filter for paged collection. Filter by ResourceType or ExternalIDs with operation eq is allowed.",
            "schema"     : {
              "type": "string"
            }
          },
          {
            "name"       : "$skipToken",
            "in"         : "query",
            "description": "Skip token for paged collection",
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Success",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Products.BaseProduct_"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "post": {
        "operationId": "create",
        "tags"       : [
          "Product"
        ],
        "summary"    : "Creates a Product",
        "description": "Sample requests:\r\n            \r\n    POST /product\r\n                 {\r\n                     \"resourceType\": \"AzureThirdPartyVirtualMachine\",\r\n                     \"name\": \"testVm\",\r\n                     \"externalIDs\" : [\r\n                      {\r\n                         \"type\": \"AzureOfferID\",\r\n                         \"value\" : \"testOfferID\",\r\n                      }]\r\n                 }",
        "parameters" : [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Products.BaseProduct",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Products.AzureProduct"
              }
            }
          }
        },
        "responses"  : {
          "201"    : {
            "description": "Success",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Products.AzureProduct"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}"                                                               : {
      "get"   : {
        "operationId": "get",
        "tags"       : [
          "Product"
        ],
        "summary"    : "Returns a product.",
        "description": "Sample requests:\r\n            \r\n    GET /products/{productID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Success",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Products.AzureProduct"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "delete": {
        "operationId": "delete",
        "tags"       : [
          "Product"
        ],
        "summary"    : "Deletes a product",
        "description": "Sample requests:\r\n            \r\n    DELETE /products/{productID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "204"    : {
            "$ref": "#/components/responses/204"
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/setup"                                                         : {
      "get" : {
        "tags"       : [
          "Product"
        ],
        "summary"    : "Returns ProductSetup of a Product.",
        "description": "Sample requests:\r\n            \r\n    GET /products/{productID}/setup",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Success",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Products.AzureProductSetup"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "post": {
        "tags"       : [
          "Product"
        ],
        "summary"    : "Creates a ProductSetup [AzureProductSetup is allowed]",
        "description": "Sample requests:\r\n            \r\n    POST /product/{productID}/setup\r\n    {\r\n        \"resourceType\": \"AzureProductSetup\",\r\n        \"leadGenID\": \"testLeadGenID\"\r\n    }",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Products.BaseProductSetup",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Products.AzureProductSetup"
              }
            }
          }
        },
        "responses"  : {
          "201"    : {
            "description": "Success",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Products.AzureProductSetup"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/branches/getByModule(module={module})"                         : {
      "get": {
        "tags"       : [
          "Branches"
        ],
        "summary"    : "Returns a paged collection of Branch",
        "description": "Sample request:\r\n                 GET /products/{productID}/branches/getByModule(module=Listing)\r\n                     =&gt; returns all branches of Listing module",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "name"       : "module",
            "in"         : "path",
            "description": "Module. Possible values: Listing, Package, Property, Availability",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "A PagedCollection of complete submission resource",
            "headers"    : {
              "Request-ID": {
                "$ref": "#/components/headers/Request-ID"
              }
            },
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Branches.Branch_"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/productavailabilities"                                         : {
      "get" : {
        "tags"       : [
          "ProductAvailability"
        ],
        "summary"    : "Returns a paged collection of ProductAvailability resource for Product",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/productAvailabilities",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns a paged collection of ProductAvailability resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Availabilities.ProductAvailability_"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "post": {
        "tags"       : [
          "ProductAvailability"
        ],
        "summary"    : "Create ProductAvailability resource for Product",
        "description": "Sample request:\r\n            \r\n    POST /products/{productID}/productAvailabilities",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Availabilities.ProductAvailability",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Availabilities.ProductAvailability"
              }
            }
          }
        },
        "responses"  : {
          "201"    : {
            "description": "Returns ProductAvailability resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Availabilities.ProductAvailability"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/productavailabilities/{productAvailabilityID}"                 : {
      "get": {
        "tags"       : [
          "ProductAvailability"
        ],
        "summary"    : "Returns ProductAvailability resource for Product",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/productAvailabilities/{productAvailabilityID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "name"       : "productAvailabilityID",
            "in"         : "path",
            "description": "ID of ProductAvailability",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns ProductAvailability resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Availabilities.ProductAvailability"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "put": {
        "tags"       : [
          "ProductAvailability"
        ],
        "summary"    : "Update ProductAvailability resource for Product",
        "description": "Sample request:\r\n            \r\n    PUT /products/{productID}/productAvailabilities/{productAvailabilityID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "name"       : "productAvailabilityID",
            "in"         : "path",
            "description": "ID of ProductAvailability",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          },
          {
            "name"       : "If-Match",
            "in"         : "header",
            "description": "ETag of the resource to be matched",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Availabilities.ProductAvailability",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Availabilities.ProductAvailability"
              }
            }
          }
        },
        "responses"  : {
          "200"    : {
            "description": "Returns ProductAvailability resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Availabilities.ProductAvailability"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/productAvailabilities/getByInstanceID(instanceID={instanceID})": {
      "get": {
        "tags"       : [
          "ProductAvailability"
        ],
        "summary"    : "Returns a paged collection of ProductAvailability resource for Product",
        "description": "Sample request:\r\n                 GET /products/{productID}/productAvailabilities/getByInstanceID(instanceID={instanceID})",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/instanceID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "A PagedCollection of ProductAvailability",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Availabilities.ProductAvailability_"
                }
              }
            }
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/properties"                                                    : {
      "get" : {
        "tags"       : [
          "Property"
        ],
        "summary"    : "Returns a paged collection of Property resources for a Product",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/properties",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns a paged collection of Property resources",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Properties.BaseProperty_"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "post": {
        "tags"       : [
          "Property"
        ],
        "summary"    : "Create a Property resource for a Product",
        "description": "Sample request:\r\n            \r\n    POST /products/{productID}/properties [Body Property]",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Properties.BaseProperty",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Properties.AzureProperty"
              }
            }
          }
        },
        "responses"  : {
          "200"    : {
            "description": "Returns Property resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Properties.AzureProperty"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/properties/{propertyID}"                                       : {
      "get": {
        "tags"       : [
          "Property"
        ],
        "summary"    : "Returns a Property resource for a Product",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/properties/{propertyID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "name"       : "propertyID",
            "in"         : "path",
            "description": "ID of Property",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns Property resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Properties.AzureProperty"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "put": {
        "tags"       : [
          "Property"
        ],
        "summary"    : "Update the Property resource for a Product",
        "description": "Sample request:\r\n            \r\n    PUT /products/{productID}/properties/{propertyID} [Body Property]",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "name"       : "propertyID",
            "in"         : "path",
            "description": "ID of Property",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          },
          {
            "name"       : "If-Match",
            "in"         : "header",
            "description": "ETag of the resource to be matched",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Properties.BaseProperty",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Properties.AzureProperty"
              }
            }
          }
        },
        "responses"  : {
          "200"    : {
            "description": "Returns Property resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Properties.AzureProperty"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/properties/getByInstanceID(instanceID={instanceID})"           : {
      "get": {
        "tags"       : [
          "Property"
        ],
        "summary"    : "Returns a paged collection of Property resources for a Product",
        "description": "Sample request:\r\n                 GET /products/{productID}/properties/getByInstanceID(instanceID={instanceID})",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/instanceID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "A PagedCollection of a certain type of BaseProperty",
            "headers"    : {
              "Request-ID": {
                "description": "ID of request generated by service",
                "schema"     : {
                  "type": "string"
                }
              }
            },
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Properties.BaseProperty_"
                }
              }
            }
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/listings/{listingID}"                                          : {
      "get"   : {
        "tags"       : [
          "Listing"
        ],
        "summary"    : "Returns Listing resource",
        "description": "Sample request:\r\n                 GET /products/{productID}/listings/{listingID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns Azure Listing resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.AzureListing"
                }
              }
            }
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "put"   : {
        "tags"       : [
          "Listing"
        ],
        "summary"    : "Updates Listing resource",
        "description": "Sample request:\r\n            \r\n    PUT /products/{productID}/listings/{listingID [Body Listing]\r\n",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          },
          {
            "name"       : "If-Match",
            "in"         : "header",
            "description": "ETag of the resource to be matched",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Listings.BaseListing",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.AzureListing"
              }
            }
          }
        },
        "responses"  : {
          "200"    : {
            "description": "Returns updated Listing resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.AzureListing"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "delete": {
        "tags"       : [
          "Listing"
        ],
        "summary"    : "Deletes Listing resource",
        "description": "Sample request:\r\n            \r\n    DELETE /products/{productID}/listings/{listingID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "204"    : {
            "description": "Deletes Listing resource"
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/listings/{listingID}/assets"                                   : {
      "get" : {
        "tags"       : [
          "ListingAsset"
        ],
        "summary"    : "Returns a paged collection of ListingAsset resources",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/listings/{listingID}/assets\r\n            \r\n      =&gt; returns all ListingAsset resources for a given listingID",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "name"       : "$expand",
            "in"         : "query",
            "description": "Use $expand=FileSasUri to Include SAS URI in response",
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns a paged collection of ListingAsset resources",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Listings.ListingAsset_"
                }
              }
            }
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "post": {
        "tags"       : [
          "ListingAsset"
        ],
        "summary"    : "Creates a ListingAsset resource",
        "description": "Sample request:\r\n            \r\n    POST /products/{productID}/listings/{listingID}/assets/{assetID} [Body ListingAsset]",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Listings.ListingAsset",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingAsset"
              }
            }
          }
        },
        "responses"  : {
          "201"    : {
            "description": "Returns newly created ListingAsset resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingAsset"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/listings/{listingID}/assets/{assetID}"                         : {
      "get"   : {
        "tags"       : [
          "ListingAsset"
        ],
        "summary"    : "Returns a ListingAsset resource",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/listings/{listingID}/assets/{assetID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/assetID"
          },
          {
            "name"       : "$expand",
            "in"         : "query",
            "description": "Use $expand=FileSasUri to Include SAS URI in response",
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns a ListingAsset resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingAsset"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "delete": {
        "tags"       : [
          "ListingAsset"
        ],
        "summary"    : "Deletes a ListingAsset resource",
        "description": "Sample request:\r\n            \r\n    DELETE /products/{productID}/listings/{listingID}/assets/{assetID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/assetID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "204"    : {
            "$ref": "#/components/responses/204"
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "put"   : {
        "tags"       : [
          "ListingAsset"
        ],
        "summary"    : "Updates a ListingImage resource",
        "description": "Sample request:\r\n            \r\n    PUT /products/{productID}/listings/{listingID}/assets/{assetID} [Body ListingImage]",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/assetID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Listings.ListingAsset",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingAsset"
              }
            }
          }
        },
        "responses"  : {
          "200"    : {
            "description": "Returns updated ListingAsset resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingAsset"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/listings/{listingID}/images"                                   : {
      "get" : {
        "tags"       : [
          "ListingImage"
        ],
        "summary"    : "Returns a paged collection of ListingImage resources",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/listings/{listingID}/images\r\n            \r\n      returns all ListingImage resources for a given listing\r\n            \r\n    ",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "name"       : "$expand",
            "in"         : "query",
            "description": "Use $expand=FileSasUri to Include SAS URI in response",
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns a paged collection of ListingImage resources",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Listings.ListingImage_"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "post": {
        "tags"       : [
          "ListingImage"
        ],
        "summary"    : "Creates a ListingImage resource",
        "description": "Sample request:\r\n            \r\n    POST /products/{productID}/listings/{listingID}/images [Body ListingImage]",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Listings.ListingImage",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingImage"
              }
            }
          }
        },
        "responses"  : {
          "201"    : {
            "description": "Returns newly created ListingImage resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingImage"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/listings/{listingID}/images/{imageID}"                         : {
      "get"   : {
        "tags"       : [
          "ListingImage"
        ],
        "summary"    : "Returns a ListingImage resource",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/listings/{listingID}/images/{imageID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/imageID"
          },
          {
            "name"       : "$expand",
            "in"         : "query",
            "description": "Use $expand=FileSasUri to Include SAS URI in response",
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns a ListingImage resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingImage"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "put"   : {
        "tags"       : [
          "ListingImage"
        ],
        "summary"    : "Updates a ListingImage resource",
        "description": "Sample request:\r\n            \r\n    PUT /products/{productID}/listings/{listingID}/images/{imageID} [Body ListingImage]",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/imageID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          },
          {
            "name"       : "If-Match",
            "in"         : "header",
            "description": "ETag of the resource to be matched",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Listings.ListingImage",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingImage"
              }
            }
          }
        },
        "responses"  : {
          "200"    : {
            "description": "Returns updated ListingImage resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingImage"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "delete": {
        "tags"       : [
          "ListingImage"
        ],
        "summary"    : "Deletes a ListingImage resource",
        "description": "Sample request:\r\n            \r\n    DELETE /products/{productID}/listings/{listingID}/images/{imageID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/imageID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "204"    : {
            "$ref": "#/components/responses/204"
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/listings/{listingID}/videos"                                   : {
      "get" : {
        "tags"       : [
          "ListingVideo"
        ],
        "summary"    : "Returns a paged collection of ListingVideo resources",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/listings/{listingID}/videos\r\n            \r\n      =&gt; returns ListingVideo resources for a given language",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "name"       : "$expand",
            "in"         : "query",
            "description": "Use $expand=FileSasUri to Include SAS URI in response",
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns a paged collection of ListingVideo resources",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Listings.ListingVideo_"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "post": {
        "tags"       : [
          "ListingVideo"
        ],
        "summary"    : "Creates a ListingVideo resource",
        "description": "Sample request:\r\n            \r\n    POST /products/{productID}/listings/{listingID}/videos   [Body ListingVideo]",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Listings.ListingVideo",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingVideo"
              }
            }
          }
        },
        "responses"  : {
          "201"    : {
            "description": "Returns newly created ListingVideo resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingVideo"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/listings/{listingID}/videos/{videoID}"                         : {
      "get"   : {
        "tags"       : [
          "ListingVideo"
        ],
        "summary"    : "Returns a ListingVideo resource",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/listings/{listingID}/videos/{videoID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "name"       : "videoID",
            "in"         : "path",
            "description": "ID of Video",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          },
          {
            "name"       : "$expand",
            "in"         : "query",
            "description": "Use $expand=FileSasUri to Include SAS URI in response",
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns ListingVideo resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingVideo"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "put"   : {
        "tags"       : [
          "ListingVideo"
        ],
        "summary"    : "Updates a ListingVideo resource",
        "description": "Sample request:\r\n            \r\n    PUT /products/{productID}/listings/{listingID}/videos/{videoID} [Body ListingVideo]",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "name"       : "videoID",
            "in"         : "path",
            "description": "ID of ListingVideo",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Listings.ListingVideo",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingVideo"
              }
            }
          }
        },
        "responses"  : {
          "200"    : {
            "description": "Returns the updated ListingVideo resource",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.ListingVideo"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "delete": {
        "tags"       : [
          "ListingVideo"
        ],
        "summary"    : "Deletes a ListingVideo resource",
        "description": "Sample request:\r\n            \r\n    DELETE /products/{productID}/listings/{listingID}/videos/{videoID}",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/listingID"
          },
          {
            "name"       : "videoID",
            "in"         : "path",
            "description": "ID of ListingVideo",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "204"    : {
            "$ref": "#/components/responses/204"
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/listings/getByInstanceID(instanceID={instanceID})"             : {
      "get": {
        "tags"       : [
          "Listing"
        ],
        "summary"    : "Returns a paged collection of Listing resources",
        "description": "Sample request:\r\n                 GET /products/{productID}/listings/getByInstanceID(instanceID={instanceID})",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/instanceID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "A PagedCollection of BaseListing resource",
            "headers"    : {
              "Request-ID": {
                "$ref": "#/components/headers/Request-ID"
              }
            },
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Listings.BaseListing_"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/listings/createWithInstanceID(instanceID={instanceID})"        : {
      "post": {
        "tags"       : [
          "Listing"
        ],
        "summary"    : "Creates a Listing resource",
        "description": "Sample request:\r\n                 POST /products/{productID}/listings/createWithInstanceID(instanceID={instanceID}) [Body Listing]",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/instanceID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a base Listing",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.AzureListing"
              }
            }
          }
        },
        "responses"  : {
          "201"    : {
            "description": "The created BaseListing resource",
            "headers"    : {
              "Request-ID": {
                "$ref": "#/components/headers/Request-ID"
              },
              "ETag"      : {
                "description": "ETag of returned resource",
                "schema"     : {
                  "type": "string"
                }
              }
            },
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Listings.AzureListing"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/packageconfigurations/{packageConfigurationID}"                : {
      "get": {
        "tags"       : [
          "PackageConfiguration"
        ],
        "summary"    : "Returns a PackageConfiguration resource",
        "description": "Sample request:\r\n            \r\n    GET /products/{productID}/packageConfigurations/{packageConfigurationID}\r\n",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "name"       : "packageConfigurationID",
            "in"         : "path",
            "description": "PackageConfiguration ID",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Returns a PackageConfiguration resource",
            "content"    : {
              "application/json": {
                "schema"  : {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralPackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementPackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsPackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralTestDrivePackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementTestDrivePackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsTestDrivePackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureApplicationPackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureManagedApplicationPackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureSolutionTemplatePackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureResourceManagerTestDrivePackageConfiguration"
                    }
                  ]
                },
                "examples": {
                  "Dynamics365BusinessCentralPackageConfiguration"            : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralPackageConfiguration"
                  },
                  "Dynamics365CustomerEngagementPackageConfiguration"         : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementPackageConfiguration"
                  },
                  "Dynamics365OperationsPackageConfiguration"                 : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsPackageConfiguration"
                  },
                  "Dynamics365BusinessCentralTestDrivePackageConfiguration"   : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralTestDrivePackageConfiguration"
                  },
                  "Dynamics365CustomerEngagementTestDrivePackageConfiguration": {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementTestDrivePackageConfiguration"
                  },
                  "Dynamics365OperationsTestDrivePackageConfiguration"        : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsTestDrivePackageConfiguration"
                  },
                  "AzureApplicationPackageConfiguration"                      : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureApplicationPackageConfiguration"
                  },
                  "AzureManagedApplicationPackageConfiguration"               : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureManagedApplicationPackageConfiguration"
                  },
                  "AzureSolutionTemplatePackageConfiguration"                 : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureSolutionTemplatePackageConfiguration"
                  },
                  "AzureResourceManagerTestDrivePackageConfiguration"         : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureResourceManagerTestDrivePackageConfiguration"
                  }
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "put": {
        "tags"       : [
          "PackageConfiguration"
        ],
        "summary"    : "Updates a PackageConfiguration resource",
        "description": "Sample request:\r\n            \r\n    PUT /products/{productID}/packageConfigurations/{packageConfigurationID} [Body PackageConfiguration]",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "name"       : "packageConfigurationID",
            "in"         : "path",
            "description": "PackageConfiguration ID",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          },
          {
            "name"       : "If-Match",
            "in"         : "header",
            "description": "ETag of the resource to be matched",
            "required"   : true,
            "schema"     : {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Packages.BasePackageConfiguration",
          "content"    : {
            "application/json": {
              "schema"  : {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralPackageConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementPackageConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsPackageConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralTestDrivePackageConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementTestDrivePackageConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsTestDrivePackageConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureApplicationPackageConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureManagedApplicationPackageConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureSolutionTemplatePackageConfiguration"
                  },
                  {
                    "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureResourceManagerTestDrivePackageConfiguration"
                  }
                ]
              },
              "examples": {
                "Dynamics365BusinessCentralPackageConfiguration"            : {
                  "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralPackageConfiguration"
                },
                "Dynamics365CustomerEngagementPackageConfiguration"         : {
                  "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementPackageConfiguration"
                },
                "Dynamics365OperationsPackageConfiguration"                 : {
                  "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsPackageConfiguration"
                },
                "Dynamics365BusinessCentralTestDrivePackageConfiguration"   : {
                  "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralTestDrivePackageConfiguration"
                },
                "Dynamics365CustomerEngagementTestDrivePackageConfiguration": {
                  "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementTestDrivePackageConfiguration"
                },
                "Dynamics365OperationsTestDrivePackageConfiguration"        : {
                  "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsTestDrivePackageConfiguration"
                },
                "AzureApplicationPackageConfiguration"                      : {
                  "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureApplicationPackageConfiguration"
                },
                "AzureManagedApplicationPackageConfiguration"               : {
                  "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureManagedApplicationPackageConfiguration"
                },
                "AzureSolutionTemplatePackageConfiguration"                 : {
                  "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureSolutionTemplatePackageConfiguration"
                },
                "AzureResourceManagerTestDrivePackageConfiguration"         : {
                  "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureResourceManagerTestDrivePackageConfiguration"
                }
              }
            }
          }
        },
        "responses"  : {
          "200"    : {
            "description": "Returns updated PackageConfiguration resource",
            "content"    : {
              "application/json": {
                "schema"  : {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralPackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementPackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsPackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralTestDrivePackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementTestDrivePackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsTestDrivePackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureApplicationPackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureManagedApplicationPackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureSolutionTemplatePackageConfiguration"
                    },
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzureResourceManagerTestDrivePackageConfiguration"
                    }
                  ]
                },
                "examples": {
                  "Dynamics365BusinessCentralPackageConfiguration"            : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralPackageConfiguration"
                  },
                  "Dynamics365CustomerEngagementPackageConfiguration"         : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementPackageConfiguration"
                  },
                  "Dynamics365OperationsPackageConfiguration"                 : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsPackageConfiguration"
                  },
                  "Dynamics365BusinessCentralTestDrivePackageConfiguration"   : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365BusinessCentralTestDrivePackageConfiguration"
                  },
                  "Dynamics365CustomerEngagementTestDrivePackageConfiguration": {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365CustomerEngagementTestDrivePackageConfiguration"
                  },
                  "Dynamics365OperationsTestDrivePackageConfiguration"        : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.Dynamics365OperationsTestDrivePackageConfiguration"
                  },
                  "AzureApplicationPackageConfiguration"                      : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureApplicationPackageConfiguration"
                  },
                  "AzureManagedApplicationPackageConfiguration"               : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureManagedApplicationPackageConfiguration"
                  },
                  "AzureSolutionTemplatePackageConfiguration"                 : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureSolutionTemplatePackageConfiguration"
                  },
                  "AzureResourceManagerTestDrivePackageConfiguration"         : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Packages.AzureResourceManagerTestDrivePackageConfiguration"
                  }
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/packageConfigurations/getByInstanceID(instanceID={instanceID})": {
      "get": {
        "tags"       : [
          "PackageConfiguration"
        ],
        "summary"    : "Returns a paged collection of PackageConfiguration resource",
        "description": "Sample request:\r\n                 GET /products/{productID}/packageConfigurations/getByInstanceID(instanceID={instanceID})",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/instanceID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "A PagedCollection of certain type of BasePackageConfiguration resource",
            "headers"    : {
              "Request-ID": {
                "description": "ID of request generated by service",
                "schema"     : {
                  "type": "string"
                }
              }
            },
            "content"    : {
              "application/json": {
                "schema"  : {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Packages.BasePackageConfiguration_"
                    }
                  ]
                },
                "examples": {
                  "Dynamics365BusinessCentralPackageConfiguration"   : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Packages.BasePackageConfiguration_Dynamics365BusinessCentralPackageConfiguration"
                  },
                  "Dynamics365CustomerEngagementPackageConfiguration": {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Packages.BasePackageConfiguration_Dynamics365CustomerEngagementPackageConfiguration"
                  },
                  "Dynamics365OperationsPackageConfiguration"        : {
                    "$ref": "#/components/examples/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Packages.BasePackageConfiguration_Dynamics365OperationsPackageConfiguration"
                  }
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/packages"                                                      : {
      "get" : {
        "tags"       : [
          "Package"
        ],
        "summary"    : "Returns a set of package instances for the product.",
        "description": "Returns a set of package instances for the product.",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "responses"  : {
          "200"    : {
            "description": "Success",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Common.PagedCollection_Microsoft.Ingestion.Api.Models.Packages.BasePackage_"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      },
      "post": {
        "tags"       : [
          "Package"
        ],
        "summary"    : "Create a package resource.",
        "description": "Sample request:\r\n            \r\n    POST products/{productID}/packages\r\n    {\r\n        \"resourceType\": \"package\",\r\n        \"fileName\": \"sample.appx\"\r\n    }",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Client-Request-ID"
          }
        ],
        "requestBody": {
          "description": "Request body of a Microsoft.Ingestion.Api.Models.Packages.BasePackage",
          "content"    : {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzurePackage"
              }
            }
          }
        },
        "responses"  : {
          "201"    : {
            "description": "Success",
            "content"    : {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.Ingestion.Api.Models.Packages.AzurePackage"
                }
              }
            }
          },
          "400"    : {
            "$ref": "#/components/responses/400"
          },
          "401"    : {
            "$ref": "#/components/responses/401"
          },
          "403"    : {
            "$ref": "#/components/responses/403"
          },
          "404"    : {
            "$ref": "#/components/responses/404"
          },
          "405"    : {
            "$ref": "#/components/responses/405"
          },
          "409"    : {
            "$ref": "#/components/responses/409"
          },
          "429"    : {
            "$ref": "#/components/responses/429"
          },
          "default": {
            "$ref": "#/components/responses/default"
          }
        }
      }
    },
    "/products/{productID}/packages/{packageID}"                                          : {
      "get"   : {
        "tags"       : [
          "Package"
        ],
        "summary"    : "Returns a package instance for the product.",
        "description": "Returns a package instance for the product.",
        "parameters" : [
          {
            "$ref": "#/components/parameters/productID"
          },
          {
[...]
