adal~=1.2.7
azure-storage-blob
azure-identity
certifi >= 14.05.14
databricks-cli
msrest~=0.7.1
python_dateutil >= 2.5.3
pyyaml==6.0
requests==2.28.1
six >= 1.10
urllib3 >= 1.15.1
wget~=3.2
pygments
pytest~=7.1.2
typing~=3.7.4.3
setuptools~=64.0.1
